.accordion-carousel {
	font-size: 1rem;
}

.accordion-carousel__swiper {
	margin-bottom: 5.8em;
}

.accordion-carousel__slide {
	font-size: 1rem;
	display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.accordion-carousel__slide .news-card {
	margin-left: 2em;
	margin-right: 2em;
}

.accordion-carousel__slide .news-card:first-of-type {
	margin-left: 0;
}

.accordion-carousel__slide .news-card:last-of-type {
	margin-right: 0;
}

.accordion-carousel__pagination {
	position: static;
	display: flex;
	font-size: 1rem;
}

.accordion-carousel__pagination .swiper-pagination-bullet {
	display: flex;
	justify-content: center;
	align-items: center;
	--size: 2.6em;
	--width: var(--size);
	--height: var(--size);
	width: var(--width);
	min-width: var(--width);
	max-width: var(--width);
	height: var(--height);
	min-height: var(--height);
	max-height: var(--height);
	margin-right: 2em;
	background: #fff;
	border-radius: var(--size);
}

.accordion-carousel__pagination .swiper-pagination-bullet::before {
	content: "";
	width: 1.4em;
	height: 1.4em;
	display: block;
	background-color: var(--c-secondary);
	border-radius: inherit;
	transition: all 0.35s var(--tr-jolly-enter);
	opacity: 0;
	transform: scale(0);
}

.accordion-carousel__pagination .swiper-pagination-bullet-active::before {
	opacity: 1;
	transform: scale(1);
}