.modal-news {
	position: relative;
	--padding: 2em;
	font-size: 1rem;
	max-width: 43.9em;
	min-height: 62.8em;
	background: var(--c-secondary);
	border-radius: 2.5em;
	margin-top: 11em;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	@media (max-width: $tablet) {
		min-height: initial;
		margin-top: 16em;
		margin-bottom: 10em;
	}
}

.b_modal__overlay--modal-news .b_modal__aligner {
	@media (max-width: $tablet) {
		padding-left: 0;
		padding-right: 0;
	}
}

.modal-news__media {
	border-radius: inherit;
	margin-bottom: 3.3em;
	height: 28.3em;
	width: 100%;

	@media (max-width: $tablet) {
		height: 22.5em;
		margin-bottom: 2.4em;
	}
}
.modal-news__media-pic {
	border-radius: inherit;
	display: block;
	width: 100%;
	height: 100%;
}
.modal-news__media-img {
	border-radius: inherit;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.modal-news__body {
	padding-left: var(--padding);
	padding-right: var(--padding);
	// padding-bottom: #{'calc(4 * var(--padding))'};
}

.modal-news__title {
	font-size: 1.6em;
	margin-bottom: 1em;
	text-transform: uppercase;
}

.modal-news__content {
	font-size: 1em;
}

.modal-news__buttons {
	margin-top: auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: var(--padding);
}

.modal-news__button {
	background-color: #fff;
	--size: 3.6em;
	--width: var(--size);
	--height: var(--size);
	width: var(--width);
	min-width: var(--width);
	max-width: var(--width);
	height: var(--height);
	min-height: var(--height);
	max-height: var(--height);
	border-radius: var(--size);
}

.modal-news__button-icon {
	display: block;
	width: 100%;
	height: 100%;
	transform: translateX(0.1em);
}

.modal-news__button-prev .modal-news__button-icon {
	transform: translateX(-0.1em) scaleX(-1);
}

.modal-news--loading {
  transform: scale(0.7);
  filter: blur(2em);
  transition: all 0.45s ease;
}
