.modal-trainer {
	position: relative;
	// --padding: 2em;
	--padding: 1.6em;
	font-size: 1rem;
	max-width: 32em;
	background: var(--c-accent-second);
	border-radius: 2.5em;
	margin-top: 4em;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	@media (max-width: $tablet) {
		margin-top: 7.5em;
		margin-bottom: 10em;
	}
	@media (max-width: $mobile) {
		margin-top: 14.5em;
	}
}

.b_modal__overlay--modal-trainer .b_modal__aligner {
	@media (max-width: $tablet) {
		padding-left: 0;
		padding-right: 0;
	}
}

.modal-trainer__media {
	position: relative;
	border-radius: inherit;
	margin-bottom: 1.1em;
	padding-top: 100%;
	width: 100%;

	@media (max-width: $tablet) {
		margin-bottom: 1.5em;
	}
}

.modal-trainer__media-pic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	border-radius: inherit;
}

.modal-trainer__media-img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: inherit;
  object-fit: cover;
}

.modal-trainer__body {
	padding-left: var(--padding);
	padding-right: var(--padding);
}

.modal-trainer__title {
	font-size: 1.6em;
	margin-bottom: 1.25em;
	line-height: 1.1;

	@media (max-width: $tablet) {
		font-weight: 500;
		margin-bottom: 1.45em;
	}
}

.modal-trainer__content {
	font-size: 0.85714em;
	--lh-regular: 1.15;

	@media (max-width: $tablet) {
		--lh-regular: 1.25;
		font-size: 1em;
	}
}

.modal-trainer__buttons {
	margin-top: auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: var(--padding);
}

.modal-trainer__button {
	background-color: #fff;
	--size: 3.6em;
	--width: var(--size);
	--height: var(--size);
	width: var(--width);
	min-width: var(--width);
	max-width: var(--width);
	height: var(--height);
	min-height: var(--height);
	max-height: var(--height);
	border-radius: var(--size);
}

.modal-trainer__button-icon {
	display: block;
	width: 100%;
	height: 100%;
	transform: translateX(0.1em);
}

.modal-trainer__button-prev .modal-trainer__button-icon {
	transform: translateX(-0.1em) scaleX(-1);
}

.modal-trainer--loading {
  transform: scale(0.7);
  filter: blur(2em);
  transition: all 0.45s ease;
}
