.price-table {
	font-size: 1rem;
	margin-bottom: 1.8em;
}

.price-table:last-of-type {
	margin-bottom: 0;
}

.price-table__row {
	display: grid;
	grid-template-columns: 60% 15% 32%;
	gap: 2em;
	margin-bottom: 1.5em;
	text-transform: uppercase;

	@media (max-width: $tablet) {
		gap: 1em;
		grid-template-columns: 50% 12% 32%;
		margin-bottom: 3em;
	}
}

.price-table__row p {
	text-transform: initial;
}

.price-table__row:last-child {
	margin-bottom: 0;
}


.price-table__cell {
	font-size: 1.4em;

	@media (max-width: $tablet) {
		font-size: 1.2em;
		font-weight: 700;
	}
}

.price-table__cell p:not(:only-child):first-child {
	font-size: 1.42em;
	margin-top: 0.2em;
	margin-bottom: 0.7em;
	text-transform: uppercase;
	color: var(--fg-accent);

	@media (max-width: $tablet) {
		font-size: 1.167em;
		margin-bottom: 0.9em;
	}
}

.price-table__cell:last-child:nth-child(2) {
	@media (max-width: $tablet) {
		grid-column: 3 / 4;
		// text-align: right;
	}
}
.price-table__cell:last-child:nth-child(2) + .price-table__cell:nth-child(1) {
	display: none;
}

.price-table__cell p:not(:only-child):first-child:empty {
	height: 2em;
}
.price-table__cell p:not(:only-child) {
	// margin-bottom: 1.2em;
	// line-height: 1.2;
}

.price-table__cell:nth-of-type(2),
.price-table__cell:nth-of-type(3) {
	text-align: center;
	font-weight: 600;
}

.price-table__head {
	color: var(--fg-accent);
	text-transform: initial;
  position: sticky;
  top: 0;
  background-color: var(--bg-app-secondary);
}

.price-table__head .price-table__cell:nth-of-type(2),
.price-table__head .price-table__cell:nth-of-type(3) {
	font-weight: 400;
}

.price-table--columned .price-table__row {
	@media (max-width: $tablet) {
		grid-template-columns: 100%;
	}
}

.price-table--columned .price-table__head {
	@media (max-width: $tablet) {
		display: none;
	}
}

.price-table--columned .price-table__cell:nth-of-type(2),
.price-table--columned .price-table__cell:nth-of-type(3) {
	@media (max-width: $tablet) {
		display: flex;
	}

}

.price-table--columned .price-table__cell:nth-of-type(2) p:first-child,
.price-table--columned .price-table__cell:nth-of-type(3) p:first-child {
	opacity: 0;

	@media (max-width: $tablet) {
		opacity: 1;
		font-weight: 400;
		font-size: 1em;
		margin-bottom: 0;
		margin-top: 0;
		height: initial;
		margin-right: 0.7em;
	}

}

.price-table--columned .price-table__cell:first-child {
	margin-bottom: 1em;
}
