.round-button {
	--fg: var(--c-primary);
	--size: 8em;
	position: relative;
	display: block;
	width: var(--size);
	min-width: var(--size);
	max-width: var(--size);
	height: var(--size);
	min-height: var(--size);
	max-height: var(--size);
	font-size: 1rem;
	color: var(--fg);

	@media (max-width: $tablet) {
		--size: 6em;
	}
}

.round-button__text {
	fill: none;
	animation: spin 25s infinite linear;
	text-transform: uppercase;
	font-size: 1.4em;

	@media (min-width: $desktop-lgz) {
		font-size: 1.25em;
	}
	@media (min-width: $desktop-md) {
		font-size: 1.2em;
	}
	@media (min-width: $desktop-lg) {
		font-size: 103%;
	}
	@media (min-width: $desktop-xlg) {
		font-size: 75%;
	}
	@media (min-width: $desktop-xxlg) {
		font-size: 50%;
	}

  @media (max-width: $laptop-xxlg) {
    font-size: 1.45em;
  }

  @media (max-width: $laptop-xlg) {
    font-size: 1.4em;
  }

  @media (max-width: $laptop-lg) {
		font-size: 1.5em;
	}

  @media (max-width: $laptop-md) {
    font-size: 1.7em;
  }

	@media (max-width: $laptop-sm) {
		font-size: 1.8em;
	}

	@media (max-width: $tablet) {
		font-size: 0.9em;
	}
	@media (max-width: $mobile-xlg) {
		font-size: 1.25em;
	}
	@media (max-width: $mobile-sm) {
		font-size: 1.4em;
	}

}

@keyframes spin {
  100% {transform: rotate(360deg)}
}

.round-button__icon {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 60%;
	height: 60%;
	border-radius: 99999px;
	z-index: 2;
	border: 0.4em solid;
	margin: auto;
	padding: 0.8em;
}
