@import "../components.b/lego/burger.scss";

.header {
	font-size: 1rem;
	z-index: var(--z-header);
}
.header--burger-opened {
  position: sticky;
  top: 0;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--bg-panel);
	color: var(--fg-panel);
	--brad: 5em;
	border-radius: 0 0 var(--brad) var(--brad);
	--p-container: 3.2em;
	padding-top: 2em;
	padding-bottom: 2em;

	@media (max-width: $tablet) {
		--brad: 2.5em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		--p-container: 1.6em;
	}
}

.header__logo {
	position: relative;
	z-index: 2;
	max-width: 6em;

	@media (max-width: $tablet) {
		max-width: 3.9em;
	}
}

.header__burger {
	--c-burger-line: var(--c-primary);
	--line-width: 100%;
	--line-height: 0.6em;
	--line-offset: 1.1rem;
	--burger-width: 6rem;
	--burger-height: 4.8rem;
	margin: 0;
	z-index: 3;
	transition: all 0.3s ease;
	display: block;
	margin-top: 2em;
	margin-left: 2em;

	@media (max-width: $tablet) {
	    --line-height: 0.3em;
	    --line-offset: 0.7rem;
	    --burger-width: 3.3rem;
	    --burger-height: 4.6rem;
	}
}

.burger.is-active .burger__line:nth-child(1) {
    transform: translate(-50%, calc(-50% - 0px)) rotate(30deg);
}
.burger.is-active .burger__line:nth-child(3) {
    transform: translate(-50%, calc(-50% - 0px)) rotate(-30deg);
}

.header__burger .burger__line:nth-of-type(2) {
	display: none;
}


.header__menu {
}
