@import "../components.b/lego/burger.scss";

.header {
	font-size: 1rem;
	z-index: var(--z-header);
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--bg-panel);
	color: var(--fg-panel);
	--brad: 5em;
	border-radius: 0 0 var(--brad) var(--brad);
	--p-container: 2.8em;
	padding-top: 2em;
	padding-bottom: 2em;
}

.header__logo {
	position: relative;
	z-index: 2;
	max-width: 6em;
}

.header__burger {
	--c-burger-line: var(--c-primary);
	--line-width: 100%;
	--line-offset: 1.1rem;
	--burger-width: 4rem;
	--burger-height: 2.8rem;
	margin: 0;
	z-index: 3;
	transition: all 0.3s ease;
	display: block;
}

.header__burger .burger__line:nth-of-type(2) {
	display: none;
}


.header__menu {
}