.about .screener__particles-bottom .blob:nth-child(1) {
	position: absolute;
	top: 20em;
	right: 0em;
	width: 40.6em;
	height: 51.4em;

	@media (max-width: $tablet) {
		background-image: url('../img/about.insm/blob-1-mobile.svg') !important;
	    top: 9.4em;
	    right: -15em;
	    width: 60.2em;
	    height: 40em;
	}
}

.about .screener__particles-bottom .blob:nth-child(2) {
	position: absolute;
	bottom: 0em;
	left: 0em;
	width: 66.2em;
	height: 43.4em;

	@media (max-width: $tablet) {
		display: none;
	}
}

.about .screener__title {
	margin-bottom: 0;

	@media (max-width: $tablet) {
		margin-bottom: 0.45em;
	}
}

.about .screener__bg {
  height: #{'calc(100% - 11rem)'};
  top: unset;
  bottom: 0;
  border-radius: 5em 5em 0 0;

  @media (max-width: $laptop-xxlg) {
    height: #{'calc(100% - 11rem)'};
  }
  @media (max-width: $tablet) {
    height: #{'calc(100% - 7.2rem)'};
    //height: #{'calc(100% - 7.7rem)'};
    border-radius: 2.5em 2.5em 0 0;
  }
}
