.about .screener__particles-bottom .blob:nth-child(1) {
	position: absolute;
	top: 20em;
	right: 0em;
	width: 40.6em;
	height: 51.4em;
}

.about .screener__particles-bottom .blob:nth-child(2) {
	position: absolute;
	bottom: 0em;
	left: 0em;
	width: 66.2em;
	height: 43.4em;
}