.news {

}

.news .screener__particles-bottom .blob:nth-child(1) {
	position: absolute;
	bottom: -1em;
	left: 1.7em;
	width: 79.3em;
	height: 75.8em;
}

.news .screener__particles-bottom .blob:nth-child(2) {
	position: absolute;
	top: 8em;
	right: -3em;
	width: 42.5em;
	height: 63em;
}